# Folders #
###################

# R things #
######################
*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rproj
*.rdb
*.rdx
__globals
__objects
__packages

# files #
######################
.Rproj.user
